<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <!-- On a fait des appels de fils component app-appareil dans le cadre ul  -->
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2><strong>Mes Appareils</strong></h2>

            <ul class="list-group">
              <!-- on a lever les input dans le père  -->
              <app-appareil appareilName="machine a lave"></app-appareil>
              <app-appareil
                [appareilName]="appareil1"
                [appareilStatus]="status1"
              ></app-appareil>
              <app-appareil appareilName="machine a lave"></app-appareil>
            </ul>

            <button
              class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onAllumer()"
            >
              Tout Allumer
            </button>
            <!-- property binding !(not)  -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
